//fonts
$mainFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

$disclaimerSize: 0.95em;
$paragraphSize: 1.25em;
$largeHeadline: 2em;
$midHeadline: 1.5em;
$smallHeadline: 1.25em;

//colors
$whiteText: #fff;
$darkText: #383838;
$primaryRed: #da2024;
$primaryOrange: #f7941d;
$lightBackground: #e1e1e1;
$darkGreyBackground: #232323;

$spacing: 5px;